@tailwind base;
@tailwind components;
@tailwind utilities;

/* WebKit browsers (Chrome, Safari, Edge) */
/* width and height */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(2 6 23);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgb(51 65 85);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(30 41 59);
}



/* For Firefox and Zen Browser */

* {
  scrollbar-width: auto;
}

html, body {
  scrollbar-width: auto;
  scrollbar-color: rgb(51 65 85) rgb(2 6 23);
}

/* For Firefox compatibility on different OS */
@-moz-document url-prefix() {
  * {
    scrollbar-width: auto;
    scrollbar-color: rgb(51 65 85) rgb(2 6 23);
  }
}