@tailwind base;
@tailwind components;
@tailwind utilities;

/* WebKit browsers (Chrome, Safari, Edge) */
/* width and height */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(2 6 23);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgb(51 65 85);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(30 41 59);
}

/* Firefox */
body {
    scrollbar-width: thin; /* Match width */
    scrollbar-color: rgb(71 85 105) rgb(2 6 23); /* Handle color and track background */
  }
  

